*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.responsive{
        width: 100%; 
        height: auto;
}


body{
    background-color: rgb(22, 22, 22);
}


/* NABVAR */

#dezertnav{
    font-size: 35px;
    margin-left: 50px;
    margin-top: 30px;
    transition: 0.3s;
    font-family: dosG;
    transform: scale(1);
    transition: .5s;
}
#dezertnav:hover{
    color: rgb(239, 184, 16);
    transform: scale(1.1);
    transition: .5s;
}
#navi {
    color: white;
    text-decoration: none;
    transition: 0.5s;
    font-size: 17px;
    margin-right: 60px;
    margin-top: 25px;
    display: inline-block;
    position: relative;
    font-family: unoR;
    height: 40px;
    
}

#navi:hover {
    color: rgb(239, 184, 16);
    transition: 0.5s;
}

#navi:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: rgb(239, 184, 16);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

#navi:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#navvi li:last-child {
    border-right:none;
}
#barranav{
    height: 110px;
    background-color: rgb(22, 22, 22);
}

/* NABVAR */

/* INFORMACION */
/* columnas responsive con grid */
.responsive-two-column-grid{
    display: block;
    align-items: center;
    padding: 1rem;
}

@media (min-width:768px){
    .responsive-two-column-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
/* columnas responsive con grid */

/* columna 1 frase+boton */
.frase {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }
  .frase h2 {
    font-family: uno;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 100px;
    font-size: 25px;
    transform: scale(1);
    transition: 1.5s;
    margin-bottom: 20px;
  }
  .frase button {
    margin-top: 20px;
    font-size: 22px;
    background-color: rgb(239, 184, 16);
    color: rgb(0, 0, 0);
    border: 1px solid black;
    padding: 10px;
    padding: 15px 45px 15px 45px;
    transform: rotate(0deg);
    transition: 1.5s;
  }
  
  .frase button:hover {
    background-color: rgb(255, 153, 0);
  }
/* columna 1 frase+boton */

/* columna 2 imagen */
.img{
    
}
/* columna 2 imagen */

/* INFORMACION */






