@font-face {
    font-family: "Jumper-black";
    src: url(fuentes/JumperPERSONALUSEONLY-Black.ttf);
}

@font-face {
    font-family: "Jumper-bold";
    src: url(fuentes/JumperPERSONALUSEONLY-Bold.ttf);
}

@font-face {
    font-family: "Jumper-light";
    src: url(fuentes/JumperPERSONALUSEONLY-Light.ttf);
}

@font-face {
    font-family: "Jumper-regular";
    src: url(fuentes/JumperPERSONALUSEONLY-Regular.ttf);
}

@font-face {
    font-family: "Jumper-extralight";
    src: url(fuentes/JumperPERSONALUSEONLY-Thin.ttf);
}



