@font-face {
    font-family: unoR;
    src: url(fuentes/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
}

@font-face {
    font-family: dosG;
    src: url(fuentes/MADE\ TOMMY\ ExtraBold_PERSONAL\ USE.otf);
}

@font-face {
    font-family: tresF;
    src: url(fuentes/MADE\ TOMMY\ Light_PERSONAL\ USE.otf);
}

